In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',1)

In [2]:
deliveiry =pd.read_csv(r"C:\Users\ANAIKUTTY\Desktop\Kutty_Spr\Masterclass\MAS-ACA-Masterclass-main\CSV Files\deliveries.csv")
matches = pd.read_csv(r"C:\Users\ANAIKUTTY\Desktop\Kutty_Spr\Masterclass\MAS-ACA-Masterclass-main\CSV Files\matches.csv")

In [3]:
df = deliveiry.copy()
mdf = matches.copy()

In [4]:
mdf.rename(columns={'id':'match_id'},inplace=True)
df = df.merge(mdf, on='match_id' , how= 'left')

In [5]:
df['phase'] = df['over'].apply(lambda x:'Powerplay' if x <= 6 else ( 'Middle' if x <= 15 else 'Death Over'))

In [6]:
def custom(df,current_opp,current_venue,current_phase):

    #Applying Filters To The Dataset
    df = df[df['bowling_team'] ==current_opp]
    df = df[df['venue'] == current_venue]
    df = df[df['phase'] == current_phase]
    

    df['isdot'] = df['batsman_runs'].apply(lambda x: 1 if x == 0 else 0)
    df['isone'] = df['batsman_runs'].apply(lambda x: 1 if x == 1 else 0)
    df['istwo'] = df['batsman_runs'].apply(lambda x: 1 if x == 2 else 0)
    df['isthree'] = df['batsman_runs'].apply(lambda x: 1 if x == 3 else 0)
    df['isfour'] = df['batsman_runs'].apply(lambda x: 1 if x == 4 else 0)
    df['issix'] = df['batsman_runs'].apply(lambda x: 1 if x == 6 else 0)

    #Phases

    df['phase'] = df['over'].apply(lambda x:'Powerplay' if x <= 6 else ( 'Middle' if x <= 15 else 'Death Over'))

    fil_df = pd.DataFrame(df.groupby('batsman').agg({'match_id':'nunique','batsman_runs':'sum','ball':'count','player_dismissed':'count','isfour':'sum','issix':'sum','isdot':'sum'})).reset_index()

    fil_df = fil_df.rename(columns= {'match_id':'innings','batsman_runs':'runs','player_dismissed':'outs','isfour':'four','issix':'six','isdot':'dots'})

    fil_df = fil_df[fil_df['innings']>1]

    fil_df['RPI'] = fil_df['runs'] / fil_df['innings']
    fil_df['strikerate'] = 100*fil_df['runs'] / fil_df['ball']
    fil_df['BPD'] = np.where(fil_df['outs'] == 0,fil_df['ball'],fil_df['ball']/fil_df['outs'])
    fil_df['DOT_percentage'] = fil_df['dots'] / fil_df['ball']

    #MCDM
    
    wt_sr,wt_rpi,wt_bpd,wt_dot = .13,.27,.16,.45

    #x*x

    fil_df['calc_sr'] = fil_df['strikerate'] * fil_df['strikerate']
    fil_df['calc_rpi'] = fil_df['RPI'] * fil_df['RPI']
    fil_df['calc_bpd'] = fil_df['BPD'] * fil_df['BPD']
    fil_df['calc_dot'] = fil_df['DOT_percentage'] * fil_df['DOT_percentage']

    #sqrt((X1**2)+(X2**2)+(X3**2)....(Xn**2))

    sq_sr = np.sqrt(sum([fil_df['calc_sr']]))
    sq_rpi = np.sqrt(sum([fil_df['calc_rpi']]))
    sq_bpd = np.sqrt(sum([fil_df['calc_bpd']]))
    sq_dot = np.sqrt(sum([fil_df['calc_dot']]))

    #(x*x) / sqrt((X1**2)+(X2**2)+(X3**2)....(Xn**2))

    fil_df['calc_sr'] = fil_df['calc_sr']   / sq_sr
    fil_df['calc_rpi'] = fil_df['calc_rpi'] / sq_rpi
    fil_df['calc_bpd'] = fil_df['calc_bpd'] / sq_bpd
    fil_df['calc_dot'] = fil_df['calc_dot'] / sq_dot

    #(x*x) / sqrt((X1**2)+(X2**2)+(X3**2)....(Xn**2)) * wt_criteria

    fil_df['calc_sr'] = fil_df['calc_sr']   * wt_sr
    fil_df['calc_rpi'] = fil_df['calc_rpi'] * wt_rpi
    fil_df['calc_bpd'] = fil_df['calc_bpd'] * wt_bpd
    fil_df['calc_dot'] = fil_df['calc_dot'] * wt_dot

    #best value , worst value

    best_sr , worst_sr = max(fil_df['calc_sr']) , min(fil_df['calc_sr'])
    best_rpi , worst_rpi = max(fil_df['calc_rpi']) , min(fil_df['calc_rpi'])
    best_bpd , worst_bpd = max(fil_df['calc_bpd']) , min(fil_df['calc_bpd'])
    best_dot , worst_dot = min(fil_df['calc_dot']) , max(fil_df['calc_dot'])


    #DEV Best SQRT

    fil_df['dev_best_sr'] = (fil_df['calc_sr']-best_sr)**2
    fil_df['dev_best_rpi'] = (fil_df['calc_rpi']-best_sr)**2
    fil_df['dev_best_bpd'] = (fil_df['calc_bpd']-best_sr)**2
    fil_df['dev_best_dot'] = (fil_df['calc_dot']-best_sr)**2

    fil_df['dev_best_sqrt'] = fil_df['dev_best_sr'] + fil_df['dev_best_rpi'] + fil_df['dev_best_bpd'] + fil_df['dev_best_dot']

    #DEV Worst sqrt

    fil_df['dev_worst_sr'] = (fil_df['calc_sr']-worst_sr)**2
    fil_df['dev_worst_rpi'] = (fil_df['calc_rpi']-worst_sr)**2
    fil_df['dev_worst_bpd'] = (fil_df['calc_bpd']-worst_sr)**2
    fil_df['dev_worst_dot'] = (fil_df['calc_dot']-worst_sr)**2

    fil_df['dev_worst_sqrt'] = fil_df['dev_worst_sr'] + fil_df['dev_worst_rpi'] + fil_df['dev_worst_bpd'] + fil_df['dev_worst_dot']

    fil_df['score'] = fil_df['dev_worst_sqrt'] / (fil_df['dev_worst_sqrt'] + fil_df['dev_best_sqrt'])

    return fil_df

In [7]:
cus_df = custom(df,'Chennai Super Kings','MA Chidambaram Stadium, Chepauk','Middle')

In [8]:
cus_df.sort_values(by='score',ascending=False)[['batsman','innings','runs','RPI','strikerate','DOT_percentage','score']]

              batsman  innings  runs        RPI  strikerate  DOT_percentage     score
98   SE Marsh          3        104   34.666667  192.592593  0.185185        0.313606
103  SR Watson         4        121   30.250000  172.857143  0.228571        0.229739
4    AB de Villiers    4        88    22.000000  144.262295  0.278689        0.180733
76   NV Ojha           3        64    21.333333  156.097561  0.292683        0.163040
36   G Gambhir         3        86    28.666667  117.808219  0.287671        0.158145
69   MS Bisla          3        89    29.666667  134.848485  0.303030        0.140692
113  Y Venugopal Rao   3        67    22.333333  131.372549  0.313725        0.138645
7    AD Russell        2        37    18.500000  137.037037  0.259259        0.123478
27   DJ Bravo          2        26    13.000000  130.000000  0.350000        0.100601
107  V Kohli           7        175   25.000000  116.666667  0.333333        0.099549
29   DJ Hussey         2        22    11.000000  129.411765  0.411765        0.098553
6    AD Mathews        2        42    21.000000  116.666667  0.333333        0.092998
24   DA Miller         3        38    12.666667  118.750000  0.250000        0.087400
58   LRPL Taylor       3        23    7.666667   121.052632  0.473684        0.084898
115  Yuvraj Singh      4        66    16.500000  113.793103  0.379310        0.079673
80   R Dravid          4        79    19.750000  106.756757  0.364865        0.075248
22   CL White          2        40    20.000000  105.263158  0.368421        0.073750
45   JH Kallis         5        124   24.800000  100.000000  0.314516        0.073642
25   DA Warner         3        72    24.000000  98.630137   0.383562        0.066859
67   MK Tiwary         3        43    14.333333  100.000000  0.302326        0.065259
52   KM Jadhav         2        22    11.000000  104.761905  0.285714        0.060645
49   KC Sangakkara     3        23    7.666667   104.545455  0.500000        0.059964
32   DPMD Jayawardene  3        36    12.000000  102.857143  0.371429        0.058075
50   KD Karthik        4        52    13.000000  101.960784  0.450980        0.056935
48   KA Pollard        3        31    10.333333  100.000000  0.516129        0.056786
87   RG Sharma         4        32    8.000000   100.000000  0.437500        0.054141
102  SR Tendulkar      2        15    7.500000   100.000000  0.200000        0.054138
57   LR Shukla         2        16    8.000000   100.000000  0.312500        0.053969
91   RV Uthappa        4        41    10.250000  97.619048   0.333333        0.051254
60   M Manhas          2        38    19.000000  79.166667   0.416667        0.044964
104  SS Tiwary         3        51    17.000000  89.473684   0.403509        0.044267
42   J Botha           2        8     4.000000   88.888889   0.555556        0.043690
101  SPD Smith         3        19    6.333333   90.476190   0.238095        0.043108
114  YK Pathan         4        29    7.250000   82.857143   0.457143        0.037920
41   IK Pathan         4        33    8.250000   73.333333   0.533333        0.034018
92   S Dhawan          5        39    7.800000   81.250000   0.375000        0.033146
9    AL Menaria        2        22    11.000000  73.333333   0.466667        0.026371
13   AT Rayudu         4        26    6.500000   70.270270   0.324324        0.023958
66   MK Pandey         2        2     1.000000   50.000000   0.500000        0.019977
40   Harbhajan Singh   2        4     2.000000   30.769231   0.692308        0.011627
97   SC Ganguly        2        7     3.500000   29.166667   0.708333        0.010754